# FLIGHT PRICE PREDICTION

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_data = pd.read_excel('archive (8)/Data_train.xlsx')

In [3]:
train_data.shape

(10683, 11)

In [4]:
pd.set_option('display.max_columns',None)

In [5]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
#train_data.plot().

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

from data_info we can see that most of the columns are of object data type which means they are of string data type so we need to do some feature engineering

In [8]:
train_data["Duration"].value_counts()

2h 50m     550
1h 30m     386
2h 45m     337
2h 55m     337
2h 35m     329
          ...
31h 30m      1
30h 25m      1
42h 5m       1
4h 10m       1
47h 40m      1
Name: Duration, Length: 368, dtype: int64

In [9]:
train_data.dropna(inplace= True)

In [10]:
train_data.shape # we can see that no column has null values

(10682, 11)

In [11]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [12]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

# EDA

Date_of_Journey

In [13]:
train_data.describe()

              Price
count  10682.000000
mean    9087.214567
std     4611.548810
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [14]:
plt.show()

In [15]:
l=[]
for i in train_data:
    if train_data[i].dtypes=='O':
        l.append(i)
train_data[l].describe()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,10682,10682,10682,10682,10682,10682,10682,10682,10682,10682
unique,12,44,5,6,128,222,1343,368,5,10
top,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,18:55,19:00,2h 50m,1 stop,No info
freq,3849,504,4536,4536,2376,233,423,550,5625,8344

In [16]:
train_data["journey_month"] = pd.to_datetime(train_data['Date_of_Journey'], format='%d/%m/%Y', errors='ignore').dt.month
train_data["journey_day"] = pd.to_datetime(train_data['Date_of_Journey'], format='%d/%m/%Y', errors='ignore').dt.day
#train_data["journey_year"] = pd.to_datetime(train_data['Date_of_Journey'], format='%d/%m/%Y', errors='ignore').dt.year

In [17]:
train_data.drop(["Date_of_Journey"],axis=1,inplace=True)
train_data.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,journey_month,journey_day
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,1
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,6,9

In [18]:
#train_data.drop(["Date_of_Journey"], axis = 1, inplace = True)

In [19]:
train_data.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,journey_month,journey_day
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,5,1
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,6,9
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,5,12
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,1

DEPARTURE TIME EDA

In [20]:
train_data["dep_time_hour"]=pd.to_datetime(train_data["Dep_Time"]).dt.hour
train_data["dep_time_min"]=pd.to_datetime(train_data["Dep_Time"]).dt.minute

In [21]:
train_data.drop(["Dep_Time"],axis=1, inplace=True)

In [22]:
train_data.head(3)

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,journey_month,journey_day,dep_time_hour,dep_time_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,24,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,5,1,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,6,9,9,25

Arrival EDA

In [23]:
train_data["arrival_time_hour"]=pd.to_datetime(train_data["Arrival_Time"]).dt.hour
train_data["arrival_time_min"]=pd.to_datetime(train_data["Arrival_Time"]).dt.minute

In [24]:
train_data.drop(["Arrival_Time"],axis=1,inplace=True)

In [25]:
train_data.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,journey_month,journey_day,dep_time_hour,dep_time_min,arrival_time_hour,arrival_time_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,3,24,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,5,1,5,50,13,15

In [26]:
# Time taken by plane to reach destination is called Duration
# It is the differnce betwwen Departure Time and Arrival time


# Assigning and converting Duration column into list
duration = list(train_data["Duration"])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:    # Check if duration contains only hour or mins
        if "h" in duration[i]:
            duration[i] = duration[i].strip() + " 0m"   # Adds 0 minute
        else:
            duration[i] = "0h " + duration[i]           # Adds 0 hour

duration_hours = []
duration_mins = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep = "h")[0]))    # Extract hours from duration
    duration_mins.append(int(duration[i].split(sep = "m")[0].split()[-1]))   # Extracts only minutes from duration
    
    
train_data["Duration_hours"] = duration_hours
train_data["Duration_mins"] = duration_mins

In [27]:
train_data.drop(["Duration"],axis=1,inplace=True)

In [28]:
train_data.head(4)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,journey_month,journey_day,dep_time_hour,dep_time_min,arrival_time_hour,arrival_time_min,Duration_hours,Duration_mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,3,24,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,5,1,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,6,9,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,5,12,18,5,23,30,5,25

In [29]:
#the additional info column is mostly No Info so we can remove them
train_data.drop(["Additional_Info"], axis=1, inplace=True)

In [30]:
train_data.head(3)

,Airline,Source,Destination,Route,Total_Stops,Price,journey_month,journey_day,dep_time_hour,dep_time_min,arrival_time_hour,arrival_time_min,Duration_hours,Duration_mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,3897,3,24,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,7662,5,1,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,13882,6,9,9,25,4,25,19,0

NOW WE ARE GOING TO HANDLE CATEGORICAL DATA

In [31]:
train_data["Airline"].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [32]:
#plt.bar(train_data["Airline"], train_data["Price"])
#plt.show()

In [33]:
# Now we are going to handle the categorical variable
Airline = pd.get_dummies(train_data["Airline"],drop_first= True)
Airline

,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Trujet,Vistara,Vistara Premium economy
0,0,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
10678,0,0,0,0,0,0,0,0,0,0,0
10679,1,0,0,0,0,0,0,0,0,0,0
10680,0,0,0,1,0,0,0,0,0,0,0
10681,0,0,0,0,0,0,0,0,0,1,0
10682,1,0,0,0,0,0,0,0,0,0,0

In [34]:
# categorica_variable = Source
source = pd.get_dummies(train_data["Source"], prefix='source',drop_first= True)

In [35]:
destination = pd.get_dummies(train_data["Destination"], prefix='destination',drop_first= True)
destination

,destination_Cochin,destination_Delhi,destination_Hyderabad,destination_Kolkata,destination_New Delhi
0,0,0,0,0,1
1,0,0,0,0,0
2,1,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,1
...,...,...,...,...,...
10678,0,0,0,0,0
10679,0,0,0,0,0
10680,0,1,0,0,0
10681,0,0,0,0,1
10682,1,0,0,0,0

In [36]:
train_data.replace({"non-stop": 0, "1 stop": 1, "2 stops": 2, "3 stops": 3, "4 stops": 4}, inplace = True)

In [37]:
train_data.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Total_Stops', 'Price',
       'journey_month', 'journey_day', 'dep_time_hour', 'dep_time_min',
       'arrival_time_hour', 'arrival_time_min', 'Duration_hours',
       'Duration_mins'],
      dtype='object')

In [38]:
train_data.drop(["Airline","Source","Destination"],axis=1, inplace=True)

In [39]:
train_data.head(3)

,Route,Total_Stops,Price,journey_month,journey_day,dep_time_hour,dep_time_min,arrival_time_hour,arrival_time_min,Duration_hours,Duration_mins
0,BLR → DEL,0,3897,3,24,22,20,1,10,2,50
1,CCU → IXR → BBI → BLR,2,7662,5,1,5,50,13,15,7,25
2,DEL → LKO → BOM → COK,2,13882,6,9,9,25,4,25,19,0

In [40]:
data_train = pd.concat([train_data, Airline, source, destination], axis = 1)

In [41]:
data_train.drop(["Route"],axis=1,inplace=True)

In [42]:
data_train.head(4)

,Total_Stops,Price,journey_month,journey_day,dep_time_hour,dep_time_min,arrival_time_hour,arrival_time_min,Duration_hours,Duration_mins,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Trujet,Vistara,Vistara Premium economy,source_Chennai,source_Delhi,source_Kolkata,source_Mumbai,destination_Cochin,destination_Delhi,destination_Hyderabad,destination_Kolkata,destination_New Delhi
0,0,3897,3,24,22,20,1,10,2,50,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2,7662,5,1,5,50,13,15,7,25,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,2,13882,6,9,9,25,4,25,19,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
3,1,6218,5,12,18,5,23,30,5,25,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [43]:
data_train.shape

(10682, 30)

Now We are going to seperate the X and Y

In [44]:
data_train.columns

Index(['Total_Stops', 'Price', 'journey_month', 'journey_day', 'dep_time_hour',
       'dep_time_min', 'arrival_time_hour', 'arrival_time_min',
       'Duration_hours', 'Duration_mins', 'Air India', 'GoAir', 'IndiGo',
       'Jet Airways', 'Jet Airways Business', 'Multiple carriers',
       'Multiple carriers Premium economy', 'SpiceJet', 'Trujet', 'Vistara',
       'Vistara Premium economy', 'source_Chennai', 'source_Delhi',
       'source_Kolkata', 'source_Mumbai', 'destination_Cochin',
       'destination_Delhi', 'destination_Hyderabad', 'destination_Kolkata',
       'destination_New Delhi'],
      dtype='object')

In [45]:
y_train = data_train["Price"]
y_train.shape

(10682,)

In [46]:
X_train = data_train[['Total_Stops', 'journey_day', 'journey_month',
       'dep_time_hour', 'dep_time_min', 'arrival_time_hour',
       'arrival_time_min', 'Duration_hours', 'Duration_mins', 'Air India',
       'GoAir', 'IndiGo', 'Jet Airways', 'Jet Airways Business',
       'Multiple carriers', 'Multiple carriers Premium economy', 'SpiceJet',
        'Vistara', 'Vistara Premium economy', 'source_Chennai',
       'source_Delhi', 'source_Kolkata', 'source_Mumbai', 'destination_Cochin',
       'destination_Delhi', 'destination_Hyderabad', 'destination_Kolkata',
       'destination_New Delhi']]

In [47]:
#(data_test.columns)
X_train.shape

(10682, 28)

In [48]:
print(X_train.columns)

Index(['Total_Stops', 'journey_day', 'journey_month', 'dep_time_hour',
       'dep_time_min', 'arrival_time_hour', 'arrival_time_min',
       'Duration_hours', 'Duration_mins', 'Air India', 'GoAir', 'IndiGo',
       'Jet Airways', 'Jet Airways Business', 'Multiple carriers',
       'Multiple carriers Premium economy', 'SpiceJet', 'Vistara',
       'Vistara Premium economy', 'source_Chennai', 'source_Delhi',
       'source_Kolkata', 'source_Mumbai', 'destination_Cochin',
       'destination_Delhi', 'destination_Hyderabad', 'destination_Kolkata',
       'destination_New Delhi'],
      dtype='object')

In [49]:
X_train.head(3)

,Total_Stops,journey_day,journey_month,dep_time_hour,dep_time_min,arrival_time_hour,arrival_time_min,Duration_hours,Duration_mins,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Vistara,Vistara Premium economy,source_Chennai,source_Delhi,source_Kolkata,source_Mumbai,destination_Cochin,destination_Delhi,destination_Hyderabad,destination_Kolkata,destination_New Delhi
0,0,24,3,22,20,1,10,2,50,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2,1,5,5,50,13,15,7,25,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,2,9,6,9,25,4,25,19,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0

In [50]:
y_train = data_train.iloc[:, 1]
y_train.head()
y_train.shape

(10682,)

# SAME STEPS TO BE DONE ON TEST DATASET

In [51]:
test_data = pd.read_excel('archive (8)/Test_set.xlsx')
print(test_data.columns)
#___________________________________________________________________________________________________________________
# first we are going to perform eda
#____________________________________________________________________________________________________________________
# EDA on date of journey column

test_data["date_of_journey_day"]=pd.to_datetime(test_data["Date_of_Journey"], format= "%d/%m/%Y").dt.day
test_data["date_of_journey_month"]=pd.to_datetime(test_data["Date_of_Journey"], format= "%d/%m/%Y").dt.month
#test_data["date_of_journey_year"]=pd.to_datetime(test_data["Date_of_Journey"], format= "%d/%m/%Y").dt.year
test_data.drop(["Date_of_Journey"],axis=1,inplace=True)

# EDA on Dep_TIme
test_data["Dep_Time_hour"]=pd.to_datetime(test_data["Dep_Time"]).dt.hour
test_data["Dep_Time_min"]=pd.to_datetime(test_data["Dep_Time"]).dt.minute
test_data.drop(["Dep_Time"],axis=1,inplace=True)


#EDA on Arrival_TIme
test_data["Arrival_Time_hour"]=pd.to_datetime(test_data["Arrival_Time"]).dt.hour
test_data["Arrival_Time_min"]=pd.to_datetime(test_data["Arrival_Time"]).dt.minute
test_data.drop(["Arrival_Time"],axis=1,inplace=True)

duration = list(test_data["Duration"])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:    # Check if duration contains only hour or mins
        if "h" in duration[i]:
            duration[i] = duration[i].strip() + " 0m"   # Adds 0 minute
        else:
            duration[i] = "0h " + duration[i]           # Adds 0 hour

duration_hours = []
duration_mins = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep = "h")[0]))    # Extract hours from duration
    duration_mins.append(int(duration[i].split(sep = "m")[0].split()[-1]))   # Extracts only minutes from duration
    
test_data["Duration_hours"] = duration_hours
test_data["Duration_mins"] = duration_mins

test_data.drop(["Duration"],axis=1,inplace=True)
#______________________________________________________________________________________________________________________

#HANDLING CATEGORICAL DATA ON AIrline, Source, Destination

Airline = pd.get_dummies(test_data["Airline"],drop_first=True)
test_data.drop(["Airline"],axis=1,inplace=True)

Source = pd.get_dummies(test_data["Source"],prefix='Source' ,drop_first=True)
test_data.drop(["Source"],axis=1,inplace=True)


Destination = pd.get_dummies(test_data["Destination"],prefix='Destination' ,drop_first=True)
test_data.drop(["Destination"],axis=1,inplace=True)

test_data.replace({"non-stop": 0, "1 stop": 1, "2 stops": 2, "3 stops": 3, "4 stops": 4}, inplace = True)

# we will remove Additional_Info column as no much information is present there and Route becaise same can be calculated via Total_Stops column
test_data.drop(["Additional_Info"],axis=1, inplace=True)
test_data.drop(["Route"], axis=1, inplace=True)

data_test = pd.concat([test_data, Airline, Source, Destination], axis = 1)
#_____________________________________________________________________________________________________________________________

print(data_test.columns)
#_____________________________________________________________________________________________________________________________
shape = data_test.shape
print("\n Shape of test data",shape)
#_____________________________________________________________________________________________________________________

print("\nUpdating y_test_real and X_test_real")

#_____________________________________________________________________________________________________________________

X_test_real = data_test[['Total_Stops', 'date_of_journey_day', 'date_of_journey_month',
       'Dep_Time_hour', 'Dep_Time_min', 'Arrival_Time_hour',
       'Arrival_Time_min', 'Duration_hours', 'Duration_mins', 'Air India',
       'GoAir', 'IndiGo', 'Jet Airways', 'Jet Airways Business',
       'Multiple carriers', 'Multiple carriers Premium economy', 'SpiceJet',
       'Vistara', 'Vistara Premium economy', 'Source_Chennai', 'Source_Delhi',
       'Source_Kolkata', 'Source_Mumbai', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi']]



y_test_real = pd.read_excel("archive (8)/Sample_submission.xlsx")


print("\n Shape of X_test_real data",X_test_real.shape)
print("\n Shape of y_test_real data",y_test_real.shape)

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info'],
      dtype='object')
Index(['Total_Stops', 'date_of_journey_day', 'date_of_journey_month',
       'Dep_Time_hour', 'Dep_Time_min', 'Arrival_Time_hour',
       'Arrival_Time_min', 'Duration_hours', 'Duration_mins', 'Air India',
       'GoAir', 'IndiGo', 'Jet Airways', 'Jet Airways Business',
       'Multiple carriers', 'Multiple carriers Premium economy', 'SpiceJet',
       'Vistara', 'Vistara Premium economy', 'Source_Chennai', 'Source_Delhi',
       'Source_Kolkata', 'Source_Mumbai', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi'],
      dtype='object')

 Shape of test data (2671, 28)

Updating y_test_real and X_test_real

 Shape of X_test_real data (2671, 28)

 Shape of y_test_real data (2671, 1)

In [52]:
#y_test_real = y_test_real.values
y_test_real

      Price
0     15998
1     16612
2     25572
3     25778
4     16934
...     ...
2666  14046
2667  14086
2668  22720
2669  23544
2670  27489

[2671 rows x 1 columns]

NORMALIZING DATA_SET

In [53]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.33, random_state=42)


from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.fit_transform(X_test)

In [54]:
X_train_scaled.shape

(7156, 28)

# APPLYING DEEP LEARNING

# Using ML for model training

In [55]:
y_train

8454      7989
8423     11399
10179    10696
3880     10844
6176     12898
         ...
5734     12242
5191     10844
5390      7670
860       6144
7270     10262
Name: Price, Length: 7156, dtype: int64

In [67]:
X_test_scaled

array([[ 1.75192859,  0.90093888,  0.25799877, ..., -0.27684151,
        -0.18607636, -0.29879792],
       [ 0.26949514, -1.2163976 ,  1.11620978, ..., -0.27684151,
        -0.18607636, -0.29879792],
       [ 0.26949514, -0.51061877,  0.25799877, ..., -0.27684151,
        -0.18607636, -0.29879792],
       ...,
       [ 0.26949514, -0.51061877, -1.45842324, ..., -0.27684151,
        -0.18607636,  3.3467435 ],
       [ 0.26949514,  0.90093888, -1.45842324, ..., -0.27684151,
        -0.18607636, -0.29879792],
       [ 0.26949514, -1.4516572 ,  1.11620978, ..., -0.27684151,
        -0.18607636, -0.29879792]])

In [57]:



from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled,y_train)
print("model.coef_ = ",model.coef_)

y_pred=model.predict(X_test_scaled)

print("y_pred.shape = = ", y_pred.shape)
print("y_test.shape = " ,y_test.shape)
y_test = y_test.values
y_pred = y_pred.reshape(-1)
y_test = y_test.reshape(-1)
print("AFTER RESHAPING")
print("y_pred.shape = = ", y_pred.shape)
print("y_test.shape = " ,y_test.shape)

model.coef_ =  [ 1.91620278e+03 -5.96861512e+02 -4.92055707e+02  1.34529519e+02
 -3.02441527e+01 -1.01654355e+02  5.46314438e+01  2.33828172e+00
 -6.07423350e+01  6.32931864e+02  3.70767849e+01  9.98090276e+01
  2.12694214e+03  1.26230126e+03  1.21869160e+03  1.35111052e+02
 -5.95306433e+01  4.22775678e+02  3.59563664e+01  2.55499653e+15
  6.66952293e+15  1.19431640e+16  3.76165874e+15  6.66952293e+15
  8.76335340e+15  2.76322533e+15  2.52339434e+15  7.71862846e+15]
y_pred.shape = =  (3526,)
y_test.shape =  (3526,)
AFTER RESHAPING
y_pred.shape = =  (3526,)
y_test.shape =  (3526,)

In [58]:
model.score(X_test_scaled,y_test)

-1.845841868195954e+22

In [59]:
model.score(X_train_scaled,y_train)

0.6218594131701007

In [60]:
print(y_pred)
print()
print(y_test_real)

[-3.41335679e+13 -3.41335679e+13 -1.71977843e+14 ...  1.12679010e+15
 -3.41335679e+13 -3.41335679e+13]

      Price
0     15998
1     16612
2     25572
3     25778
4     16934
...     ...
2666  14046
2667  14086
2668  22720
2669  23544
2670  27489

[2671 rows x 1 columns]

# ---------------------------------------------------------------------------------------------------

# Using Random Forest Regressor

In [61]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

from sklearn.ensemble import RandomForestRegressor
reg_rf = RandomForestRegressor()
reg_rf.fit(X_train, y_train)

RandomForestRegressor()

In [62]:
y_pred = reg_rf.predict(X_test)

In [63]:
reg_rf.score(X_train, y_train)

0.9551210243033855

In [64]:
reg_rf.score(X_test, y_test)

0.8013251739669364

# USING K-NEAREST NEIGHBOUR

In [86]:


from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier(n_neighbors=7000)
knn_model.fit(X_train, y_train)

y_pred = knn_model.predict(X_test)

In [87]:
model2.score(X_train, y_train)

0.023896031302403576

In [88]:
model2.score(X_test, y_test)

0.024673851389676687

# Saving Model

In [79]:

import pickle
# open a file, where you ant to store the data
file = open('flight_rf.pkl', 'wb')

# dump information to that file
pickle.dump(reg_rf, file)

In [83]:
model = open('flight_rf.pkl','rb')
forest = pickle.load(model)

In [85]:
forest.score(X_test, y_test)

0.8013251739669364